.header {
    height: 95vh;
    background-image: 
        linear-gradient(to right bottom, /* It is defyning the gradient type and direction */
        rgba($color-primary-light, 0.8), /* It is defyning start color */
        rgba($color-primary-dark, 0.8)), /* It is defyning end color */
        url(../img/hero.jpg); /* It is defyning bg image */
    background-size: cover; /* It is defyning that image will fill all the bg space */
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* It is drawing the visible polygon area */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* It is drawing the visible polygon area */

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute; /* It is related to parent element */
        top: 50%; /* It is related to parent element */
        left: 50%; /* It is related to parent element */
        transform: translate(-50%, -50%); /* It is related to ACTUAL element */
        text-align: center;
    }
}
