/* To start styling, it is a good way reset all browser styles */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box; /* It is defyning how other properties will be applied in this box */
}
